    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.fahran.o2shuttlebus"
        version     = "0.0.3"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>O2 Shuttle Bus</name>

        <description> I never know when O2's shuttle buses will arrive. Now I will! </description>

        <author href="http://fahran.net" email="fahran.wallace@gmail.com">
        Fahran Wallace
        </author>

    </widget>