html, body {
	height: 100%;
	font-size: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
  margin: 0;
  display: table;
  width: 100%;
}

#timesWrapper {
	display: table-cell;
	vertical-align: middle;
}

/*Ideally, use new vw font size measurement, for fonts that scale with screen width.
As this is only chrome webview etc. (ie. Android 4.4 Kitkat+), we make do with media queries...*/
#timeToNextBus {
  /*font-size: 20vw;*/
  font-size: 20em;
  margin: 0;
}

#nextBusTime {
	/*font-size: 5vw;*/
	font-size: 5em;  
}

.imminent {
  color: orangeRed;
}

ol {
	list-style: none;
}

#busTimes li {
	display: inline;
	margin-right: 10px;
  font-size: 2em;
}

#timesListWrapper {
  width: 60em;
  margin: 0 auto;
  overflow: hidden;
}


@media (max-width: 80em) {
  html, body {font-size: 66%}
}

@media (max-width: 40em) {
  html, body {font-size: 50%}
}

@media (max-width: 20em) {
  html, body {font-size: 30%}
}

