html, body {
	height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
  margin: 0;
  display: table;
  width: 100%;
}

#timesWrapper {
	display: table-cell;
	vertical-align: middle;
}

/*Ideally, use new vw font size measurement, for fonts that scale with screen width.
As this is only chrome webview etc. (ie. Android 4.4 Kitkat+), we make do with media queries...*/
#timeToNextBus {
  /*font-size: 20vw;*/
  font-size: 400px;
  margin: 0;
}

#nextBusTime {
	/*font-size: 5vw;*/
	font-size: 100px;  
}

@media (max-width: 1500px) {
  #timeToNextBus { font-size: 300px; }
  #nextBusTime { font-size: 75px;  }
}
@media (max-width: 1000px) {
  #timeToNextBus { font-size: 200px; }
  #nextBusTime { font-size: 50px;  }
}
@media (max-width: 640px) {
  #timeToNextBus { font-size: 128px; }
  #nextBusTime { font-size: 32px;  }
}
@media (max-width: 340px) {
  #timeToNextBus { font-size: 68px; }
  #nextBusTime { font-size: 17px;  }
}
@media (max-width: 200px) {
  #timeToNextBus { font-size: 40px; }
  #nextBusTime { font-size: 10px;  }
}
@media (max-width: 120px) {
  #timeToNextBus { font-size: 24px; }
  #nextBusTime { font-size: 6px;  }
}

.imminent {
  color: orangeRed;
}